<div class="row color-e9e2e2">
  <div class="col-md-12">
    <br><br>    
  </div>
  <%= form_for @user, url: user_path(@user.id), method: :put do |f| %>
    <div class="col-md-12 center">
      
    </div>

    <div class="panel panel-info">
      <div class="panel-heading center">
        <h3>Enter basic information</h3>
      </div>
      
      <div class="panel-body">
        <% if @user.errors.any? %>
          <h2>
            <%= pluralize(@user.errors.count, "error") %> Data did not save because of following errors:
          </h2>
          <ul>
          <% messages = @user.user_detail.errors.full_messages + @user.errors.full_messages %>
            <% messages.each do |msg| %>
             <li><%= msg %></li>
            <% end %>
          </ul>
        <% end %>
        
      </div>
    </div>


    <%= f.fields_for :user_detail do |ud| %>
    
      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :address %>
      </div>

      <div class="col-md-7">
        <%= ud.text_field :address %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :city %>
      </div>
      <div class="col-md-7">
        <%= ud.text_field :city %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :avater %>
      </div>

      <div class="col-md-7">
        <%= ud.file_field :avater %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :pincode %>
        
      </div>
      <div class="col-md-7">
        <%= ud.text_field :pincode %>
      </div>

      <div class="col-md-1 col-md-offset-4 center">
        <%= ud.label :phone %>
        
      </div>
      <div class="col-md-7">
        <%= ud.text_field :phone %>
      </div>

      <div class="col-md-12">
        <br>
      </div>

      <div class="col-md-7 col-md-offset-5">
        <%= ud.submit "Save Changes" %>
      </div>

    <% end %> 

    <div class="col-md-12">
      <br>
    </div>

    <div class="col-md-12">
      <br><br><br><br><br><br><br><br><br>
    </div>
  <% end %>
</div>