<%= form_for @user , url: {action: "create"}, method: "post"  do |f| %>
	<div class='row'>
		<div class='col-md-4'>
			<%= link_to new_album_path, title:"Create new album" do%>
		  	<i class="fa fa-plus fa-3x" aria-hidden="true"></i>
		  <% end %>	
		</div>

		<div class='col-md-4'>		
			<h2>Albums</h2>
		</div>

		<div class='col-md-4'>		
			<p><%= link_to "View All", my_album_path(id: @user.id) %></p>
		</div>		
	</div>

	<div class='row index-margin-bottom'>
		<% @albums.first(3).each do |item|%>
			<% image = item.album_images.first 
	    	next unless image.present?
	    %>
			<div class='col-md-4'>
					<div class='col-md-12'>
						
						<div class='col-md-1 col-sm-offset-9'>
							<%= link_to  album_path(id: item.id),title:"Add More pic" do%>
				        <span class="glyphicon glyphicon-plus"></span>
				      <% end %>
						</div>
						<div class='col-md-1'>
							<%= link_to album_destroy_album_path(item.id), method: :delete ,title: "Remove Album", data: { confirm: 'Are you sure?' }  do %> 
								<title>Remove</title>
				        <span class="glyphicon glyphicon-remove"></span>
				      <% end %> 	
						</div>
					</div>

				<div class='col-md-12'>
					<%= link_to new_album_comment_path(item.id) do %>
						<%= image_tag "/uploads/#{image.image_name}", class: 'img-thumbnail' %>
					<% end %>
				</div>
				<div class='col-md-12 index-margin-bottom'>
					<p><%= link_to item.album_name %></p>
				</div>
			</div>
		<% end %>
	</div>
<% end %>

<hr>
<hr>

<div class='row'>
	<div class='col-md-4 col-sm-offset-4'>		
		<h2>Friends-Albums</h2>
	</div>
	
	<div class='col-md-4'>		
		<p><%= link_to "View All", friend_album_path(id: @user.id) %></p>
	</div>
</div>

<div class='row'>
	<% @i = 0 %>
	<% @friends.each do |friend| %>
		<% break if @i==4%>
		<% albums = Album.where(user_id: friend.id)%>
		<% albums.first(3).each do |item|%>
			<% img = item.album_images.first 
		      	next unless img.present?
		  %>
		  <% @i = @i+1 %>
			<% break if @i == 4 %>
			<div class='col-md-4'>
				<div class="col-md-4">
					<p><%= friend.firstname %></p>
				</div>
				
				<div class='col-md-12'> 
					<%= link_to new_album_comment_path(item.id) do %>
						<%= image_tag "/uploads/#{item.album_images.first.image_name}", class: 'img-thumbnail'	%>
					<% end %>
				</div>
				<div class="col-md-11 col-sm-offset-1">
					<p><%= link_to item.album_name %></p>
				</div>
			</div>
		<% end %> 
	<% end %>	
</div>
